*{
    box-sizing: content-box;
}

body{
    margin: 0; 
}
.container{
padding-top: 3%;
display: flex;
align-items: center;
flex-direction: column;
height: 600px;
}

#btn{
    padding: 2%;
    color: whitesmoke;
    background-color: rebeccapurple;
}